<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>664556950241-sgfpa8uc0dgbbvrl1426vk9j48inrtam.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.664556950241-sgfpa8uc0dgbbvrl1426vk9j48inrtam</string>
	<key>API_KEY</key>
	<string>AIzaSyAv5Pbm6uqyuBGMlWBH3nvS4HV_V2MNsBQ</string>
	<key>GCM_SENDER_ID</key>
	<string>664556950241</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterFirebaseAuth</string>
	<key>PROJECT_ID</key>
	<string>testsnslogin-181e5</string>
	<key>STORAGE_BUCKET</key>
	<string>testsnslogin-181e5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:664556950241:ios:6b9a601376c8e4b672dda0</string>
</dict>
</plist>